/* .dashSidebar{
    background-color: rgba(10, 121, 144, 0.886);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    border: 1.5px solid yellow;
    border-radius: 1em;
    height: 60%;
    width: 80%;
} */