.friend-list{
    padding: 5px;
    margin: 5px auto;
    color: white;
    cursor: pointer;
}
.friend-name{
    display: inline-block;
    /* width: 100%; */
    height: 100%;
}
.friend-list:hover{
    background-color: rgb(90, 90, 245);
}
